@media (max-width:84em){
    .header-spot,
    .hero-box{
        max-width: 110rem;
    }
    .watermark{
         left: 36rem;
     }

    .home-contra-1{
        left: -6rem;
     } 
     
    .home-contra-1-3{
        left: -6rem;
     }

     .left-bottom{
        left: -14rem;
     }

     .buy-track-chat{
        margin-top: 23.7rem;
     }
}

@media (max-width:75em){
    html{
        font-size: 56%;
    }

    .watermark{
        left: 28rem;
    }

    .how-it-works-img{
        height: 50rem;
    }

    .orange-text-2-grid{
        gap: 8rem;
    }

    .second-column-img{
        height:45rem ;
    }


    .footer-mx-width-grid{
        gap: 4rem;
    }

    .play-btn{
        position: absolute;
        left: 53.5rem;
        bottom: 23rem;
        height: 5rem;
     }

     .play-btn:hover, .play-btn:active{
        filter: brightness(1) invert(2);
    }

    .watermark{
        left: 32rem;
    }

   .home-contra-1{
       left: -4rem;
    } 
    
   .home-contra-1-3{
       left: -4rem;
    }

    .left-bottom{
       left: -8rem;
    }

    .first-column{
        margin-left: 3rem;
    }

}

@media (max-width:59em){
    html{
        font-size: 61%;
    }

    .contra-hero{
        margin-top: 12rem;
    }


    .hero-box{
        grid-template-columns: 1fr;
        gap: 20rem;
        text-align: center;
    }

    .scan{
        justify-content: center;
    }

    .play-btn{
        position: absolute;
        left:38rem;
        bottom: 14.5rem;
     }

    .how-it-works-img{
        height: 40rem;
    }


    .img-1-1{
       left: 7rem; 
    }

    .img-2-2{
        left: 23rem;
    }

    .elipse{
        display: none;
    }

    .h1{
        padding:0 7rem;
        line-height: 5rem;
    }

    .h1-p{
        padding:0 12rem;
    }

    .z{
        display: flex;
        flex-direction: column;
        gap: 7rem;
    }


    .z-div-features{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .z-div-features.z-div-features-2{
        display: flex;
        flex-direction: column-reverse;
    }


    .text{
        text-align: center;
        padding:0 15rem ;
    }


    

    .watermark{
        left: 23rem;
        top: -70rem ;
    }

   .home-contra-1{
       left: 13rem;
    } 

    .home-contra-1.opt-contra{
        margin-left: 11rem;
        margin-top: 2rem;
    }

    
    .dot-grid{
        left: -10rem;
    }

    .dot-grid-2{
        left: 26rem;
        bottom: -4rem;
    }

    .accordice-4-rows{
        margin-top: 10rem;
    }

    
    .left-bottom{
       left: -8rem;
    }

    .first-column{
        margin-left: 3rem;
    }

    .second-column-img{
        height: 40rem;
    }

    .orange-text-2-grid{
        gap: 9rem;
    }

    .scan-2-2{
        gap: 3rem;
    }


    .btn-mobile-nav{
        display: block;
        color: black;
        opacity: 70%;
    }
    
    .nav-open{
        z-index: 1000;
    }
    
    
    
    .nav-links{
        position: absolute;
        bottom:-70rem;
        left: 0;
        background-color:  #F6FBFF;
        width: 100%;
        height: 100vw;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
        transform: translateX(100%);
        /****DEFAULT HIDE NAVIGATION***/
        
        /*ALLOWS NO ANIMATION
        display: none; */
    
       opacity: 0;
    }
    
    .nav-open .icon-mobile-nav[name="close"]{
        display: block;
    }
    
    
    .nav-open .icon-mobile-nav[name="menu"]{
        display: none;
    }
    
    .nav-open .nav-links{
         opacity: 1;
         transform: translate(0);
    }
    
    
    
    .list-link{
        flex-direction: column;
        font-size:2rem;
        font-weight: 600;
        color: #333;
    
    }

    
    
}

@media (max-width:59em){
    .background-flex{
        grid-template-columns: 1fr;
        gap: 7rem;
        padding: 20rem 15rem;
    }

    .nav-links{
        position: absolute;
        bottom:-50rem;
        left: 0;
        background-color:  #F6FBFF;
        width: 100%;
        height: 100vw;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
        transform: translateX(100%);
        /****DEFAULT HIDE NAVIGATION***/
        
        /*ALLOWS NO ANIMATION
        display: none; */
    
       opacity: 0;
    }

    .how-it-works-img{
        height: 32rem ;
    }

    .list-link{
        margin-top: 13rem;
    }

    .buy-track-chat{
        margin-top: 29rem;
    }

    .buy-track-chat_border{
        padding:0 8rem;
    }

    .play-btn{
        position: absolute;
        left: 38.5rem;
        bottom: 14.5rem;
        height: 3rem;
     }
    
    .img-1-1{
       left: 4rem;
    }

    .img-2-2{
       left:19rem;
    }

    .second-column{
        display: none;
    }

    .orange-section-trial{
        padding: 7rem 0;
    }

    .orange-text-2-grid{
        grid-template-columns: 1fr;
    }

    .first-column{
        text-align: center;
        padding: 0 4.3rem;
    }

    .scan-2-2{
    width: 100%;
    }
}

@media (max-width:31em){
    html{
        font-size: 50%;
    }

    .nav-links{
        position: absolute;
        bottom:-41rem;
        left: 0;
        background-color:  #F6FBFF;
        width: 100%;
        height: 100vw;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
        transform: translateX(100%);
        /****DEFAULT HIDE NAVIGATION***/
        
        /*ALLOWS NO ANIMATION
        display: none; */
    
       opacity: 0;
    }

    .h1{
       padding: 0 2rem;
       line-height: 5rem;
    }

    .play-btn{
        position: absolute;
        left: 25.8rem;
        bottom:11.6rem;
        height: 2.6rem;
     }

    .h1-p{
       padding: 0 2rem;
    }

    .scan{
        display: flex;
        flex-direction: column;
    }

    .scan-1{
        height: 10rem;
    
    }

    .img-phone-1{
        height: 66rem;
    }
    
    .vectors{
        display: none;
    }
    

      
    .img-1-1{
        left: 1rem;
     }
 
     .img-2-2{
        left:10rem;
     }

     .how-it-works-div{
        margin-top: 9rem;
     }

     .how-it-works-p{
        padding: 0 9rem;
     }



     .how-it-works-img{
        height: 25rem;
     }


   .z{
    display: flex;
    flex-direction: column;
   }
     

     .home-contra-1{
        height: 75rem;
     
     }

     .home-contra-1.opt-contra-1{
        margin-left: -4rem ;
     }

     .home-contra-1.opt-contra{
        right: -9rem;
        margin-left: 1rem;
     }

     .text{
        text-align: center;
        padding: 0 10rem;
     }

   

     .dot-grid-2{
        height: 45rem;
        bottom: -9rem;
     }


     .dot-grid{
        width: 60%;
     }

     .scan-2-2{
        flex-direction: column;
     }

     .footer-mx-width-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
     }
}



@media (max-width:26em){
    .play-btn{
        position: absolute;
        left: 25rem;
        bottom:11.5rem;
        height: 2.7rem;
     }
}



@media (max-width:24.4em){

    html{
        font-size: 50%;
    }

    .h1{
        font-size: 4.5rem;
    }

    .h1-p{
        font-size: 2rem;
    }

    .scan-1{
        height: 8.5rem;
    }

    .how-it-works-img{
        height: 20rem;
    }

    .play-btn{
        position: absolute;
        left: 23.6rem;
        bottom:9.3rem;
        height: 2.3rem;
     }

    .img-phone-1{
        height: 60rem;
    }
    .img-1-1{
        left: -2.8rem;
     }
 
     .img-2-2{
        left:5rem;
     }

     .buy-track-chat{
        margin-top: 24rem;
     }

     
   .buy-track-chat_border{
    padding: 0 4.5rem;
   }

   .how-it-works-p{
      padding: 0 6rem;
   }

   .home-contra-1-2{
    height: 63rem;
    left: -30rem;
    bottom: -21rem;
   
   }

   
   .text{
      text-align: center;
      padding: 0 6rem;
   }

   .img-div-features-2{
    margin-bottom: 6rem;
   }

   .dot-grid-2{
     height: 38rem;
     top: 13rem;
   }

   .dot-grid{
    top: 18rem;
   }

   .watermark{
    left: 4rem;
    height: 30rem;
   }

   .feature-header{
    padding: 0 6.2rem;
    margin-bottom:4rem;
   }

   .feature-header-2{
    padding: 0 5.2rem;
   }

   .watermark{
    left: 2rem;
    top: -8rem;
 }

   .home-contra-1-3{
    height: 63rem;
    left: -18rem;
   }
   

   .home-contra-1{
    height: 63rem;
   }

   .orange-section-h2{
      font-size: 3rem;
   }

   .nav-links{
    position: absolute;
    bottom:-40rem;
    left: 0;
    background-color:  #F6FBFF;
    width: 100%;
    height: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
    transform: translateX(100%);
    /****DEFAULT HIDE NAVIGATION***/
    
    /*ALLOWS NO ANIMATION
    display: none; */

   opacity: 0;
}

   
}


@media (max-width:25em){
    html{
        font-size: 50%;
    }
    .nav-links{
        position: absolute;
        bottom:-33rem;
        left: 0;
        background-color:  #F6FBFF;
        width: 100%;
        height: 100vw;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
        transform: translateX(100%);
        /****DEFAULT HIDE NAVIGATION***/
        
        /*ALLOWS NO ANIMATION
        display: none; */
    
       opacity: 0;
    }

    .list-link{
        font-size: 4rem;
        gap: 4rem;
    }

    .h1{
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

   
 

    
   .text{
    text-align: center;
    padding: 0 6rem;
 }

 .features{
    padding: 4rem 0;
}

.features-header{
    margin-bottom: -2rem;
}

.z{
    gap: 2rem;
}

    

    .h1-p{
        font-size: 2rem;
    }

    .scan-1{
        height: 8.5rem;
    }

    .how-it-works{
        margin-top: 3rem;
    }

    




    .how-it-works-img{
        height: 20rem;
    }

    .img-phone-1{
        height: 60rem;
    }
    .img-1-1{
        left: -2.8rem;
     }
 
     .img-2-2{
        left:5rem;
     }

     .buy-track-chat{
        margin-top: 24rem;
     }

     
   .buy-track-chat_border{
    padding: 0 4.5rem;
   }

   .how-it-works-p{
      padding: 0 7rem;
   }

   .home-contra-1-2{
    height: 63rem;
    left: -30rem;
    bottom: -21rem;
   
   }

   .z-div-features{
    padding-bottom: -30rem;
   }

   .img-div-features-2{
    margin-bottom: 6rem;
   }

   .dot-grid-2{
    height: 38rem;
    top: 13rem;
  }

  .dot-grid{
   top: 15rem;
  }


   .watermark{
    top: -10rem;
    left: 9rem;
    height: 30rem;
   }

   .feature-header{
    padding: 0 6.2rem;
    margin-bottom:3rem;
   }

   .feature-header-2{
    padding: 0 5.2rem;
   }

   .home-contra-1-3{
    height: 63rem;
    left: -18rem;
   }
   

   .home-contra-1{
    height: 63rem;
   }

   .orange-section-h2{
      font-size: 3rem;
   }
}


@media (max-width:20em){
    .h1{
        font-size: 3.7rem;
        line-height: 4rem;
    }

    .h1-p{
       font-size: 1.78rem;
       padding: 0 4.6rem;
    }

    .features{
        padding: 4rem 0;
    }

    .features-header{
        margin-bottom: -2rem;
    }

    .play-btn{
        position: absolute;
        left: 19.3rem;
        bottom:8.3rem;
        height: 2.3rem;
     }


    .img-phone-1{
        height: 45rem;
    }

    .scan-1{
        height: 6rem;
    }

    .z{
        gap: 2rem;
    }

    .home-contra-1.opt-contra-1{
        margin-left: -7rem;
    }

    .home-contra-1.opt-contra{
        margin-left: -2rem;
    }

    .home-contra-1{
        margin-left:-3rem;
    }

    .text{
        text-align: center;
        padding: 0 5rem;
        margin-left: -2.5rem;

    }

    .text.text-1{
        padding-right: 7rem;
    }

    .img-1-1{
        left: -2.8rem;
        top:-15rem;
     }

     .img-2-2{
         top: -27rem;
     }

     .buy-track-chat{
        margin-top: 16rem;
     }

     .how-it-works-img{
        height: 18rem;
     }

     

     .how-it-works-p{
        padding: 0 3rem;
     }

     .home-contra-1{
        left: -3rem;
     }

     .first-column{
        padding: 0 2rem;
        margin-right: 2rem;
     }

     .watermark{
        left: 2rem;
        top: -8rem;
     }



     .orange-section-h2{
        font-size: 2.8rem;
     }

     .nav-links{
        position: absolute;
        bottom:-30rem;
        left: 0;
        background-color:  #F6FBFF;
        width: 100%;
        height: 100vw;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
        transform: translateX(100%);
        /****DEFAULT HIDE NAVIGATION***/
        
        /*ALLOWS NO ANIMATION
        display: none; */
    
       opacity: 0;
    }

    .list-link{
        font-size: 4rem;
        color: black;
        margin-top: 4rem;
        gap: 5rem;
    }
}